<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Details</title>
  </head>
  <body>
    <img src="{{user.image_url}}" alt="User Image" />
    <p>{{user.first_name}} {{user.last_name}}</p>
    <form action="/users/{{user.id}}/edit">
      <button type="submit">Edit</button>
    </form>
    <form action="/users/{{user.id}}/delete" method="post">
      <button type="submit">Delete</button>
    </form>
    <hr />
    <h2>Posts</h2>
    <ul>
      {% for post in posts %}
      <li>
        <a href="/posts/{{post.id}}">{{post.title}}</a>
      </li>
      {% endfor %}
    </ul>
    <form action="/users/{{user.id}}/posts/new">
      <button type="submit">Add Post</button>
    </form>
  </body>
</html>
