<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post Details</title>
  </head>
  <body>
    <h1>{{post.title}}</h1>
    <p>{{post.content}}</p>
    <p>
      <i>By {{user.first_name}} {{user.last_name}} on {{post.created_at}}</i>
    </p>
    <p>
      <strong>Tags:</strong>
      {% for tag in tags %} {{tag.name}} {% endfor %}
    </p>
    <form action="/users/{{user.id}}">
      <button type="submit">Cancel</button>
    </form>
    <form action="/posts/{{post.id}}/edit">
      <button type="submit">Edit</button>
    </form>
    <form action="/posts/{{post.id}}/delete" method="post">
      <button type="submit">Delete</button>
    </form>
    <hr />
  </body>
</html>
